.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edecfb;
    padding: 10px 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.logo {
    width: 50px;
}

.copyright {
    flex: 1;
    text-align: center;
    margin: 0;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons img {
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 728px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .icons {
        justify-content: center;
        gap: 10px;
    }
    .logo{
        display: none;
    }
}
