.container {
  padding: 80px 30px;
  grid-column: 2/3;
  background-color: #f8fafa;
  height: 100vh;
}

.headerText {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #171A25;
}


@media (max-width: 1300px) {
  .container {
    grid-column: 1/3; /* The dashboard takes full width on mobile view */
    padding: 80px 20px;
  }  
}