.container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.delete {
  height: 30px;
  width: 43px;

  border: 1px solid #D24747;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  border-radius: 4px;

  cursor: pointer;
}

.delete:hover {
  background-color: #f3b6b6;
}

.edit {
  background-color: #1DB56C;
  height: 30px;
  width: 70px;

  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all .4s;
}

.edit:hover {
  background-color: #159155;
}

.editText {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: center;
  color: white;
}