.btn{
    display: flex;
    align-items: center;
    gap: 15px;
}
.signupBtn{
    padding: 15px;
    border-radius: 8px;
    background: #e87000;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.signupBtn a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 728px) {
    .signupBtn{
        border-radius: 8px;
        font-size: 15px;
        font-weight: bold;
    }
}